// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#titleImg{
	height: 300px;
	display: block;
	margin: auto;
	width: auto;
}

#setup{
	text-decoration: underline;
}


